.git
.gitignore
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache
**/.mypy_cache
**/.coverage
**/htmlcov

venv
.venv

backend/.env
backend/logs
backend/refresh_all_compare_report.txt

docs
final3.html
