{$APP_DOMAIN} {
    encode zstd gzip

    reverse_proxy app:8000
}

video.jazzrelaxation.com {
    encode zstd gzip

    reverse_proxy lushvideo-app:8000
}

mail.congmail.top {
    tls {
        key_type rsa2048
    }

    respond "Mail server endpoint for congmail.top" 200
}
