MAIL_HOSTNAME=mail.congmail.top
MAIL_DOMAIN=congmail.top
MAIL_SERVER_IP=82.197.71.6
POSTMASTER_ADDRESS=postmaster@congmail.top
TZ=Asia/Ho_Chi_Minh
MAIL_SSL_TYPE=self-signed
MAIL_CERT_PATH=/tmp/dms/custom-certs/public.crt
MAIL_KEY_PATH=/tmp/dms/custom-certs/private.key
